<!-- Use Base HTML -->
{% extends 'base.html' %}

<!-- Access Static Files -->
{% load static %}

<!-- Body Content -->
{% block content %}
<!-- Masthead-->
<header class="heading text-center" id="header">
  <h1>Profile Yourself against New Zealand</h1>
</header>
<section class="" id="inputForms">
  <div id="primaryForm" class="container text-center">
    <form>
      <div class="mb-3">
        <div class="inputParent">
          <div id="item1">
            <label for="age" class="form-label">Current Age</label>
            <input type="age" class="form-control" id="age" aria-describedby="age" />
          </div>
          <div id="item2">
            <label class="form-label">Current Health</label>
            <select class="form-select" aria-label="current health status">
              <option value="0" selected>No Exercise</option>
              <option value="1">Minimum Exercise</option>
              <option value="2">Sick or Overweight</option>
              <option value="3">Healthy and Fit</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Choose what fits You</label>
        <br />
        <div class="selectParent">
          <input type="checkbox" class="btn-check" id="btn-check-employeed" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-employeed">Employeed</label>
          <input type="checkbox" class="btn-check" id="btn-check-bus" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-bus">Business Owner</label>
          <input type="checkbox" class="btn-check" id="btn-check-married" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-married">Married</label>
          <input type="checkbox" class="btn-check" id="btn-check-homeowner" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-homeowner">Home Owner</label>
          <input type="checkbox" class="btn-check" id="btn-check-renting" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-renting">Renting</label>
          <input type="checkbox" class="btn-check" id="btn-check-student" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-student">Student</label>
          <input type="checkbox" class="btn-check" id="btn-check-child" autocomplete="off" />
          <label class="btn btn-outline-primary" for="btn-check-child">Have Children</label>
        </div>

      </div>
      <br><br>
      <button type="submit" class="btn btn-success">Profile Me</button>
    </form>
  </div>
</section>
<section class="" id="footer"></section>

{% endblock content %}

<!-- Script Content -->
{% block scripts%}{% endblock scripts %}