body {
  background-color: rgb(218, 225, 36);
}

.heading {
  padding: 1rem;
}

.inputParent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}


.selectParent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}